@{
    ViewData["Title"] = "Admin Home Page";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<div class="alert alert-primary text-center" role="alert">
    <h2>Admin Home Page</h2>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <a asp-area="Admin" asp-controller="UserAccount" asp-action="Index" class="nav-link text-dark">User Account Management</a>
        </div>
        <div class="col">
            <a asp-area="Admin" asp-controller="News" asp-action="Index" class="nav-link text-dark">News Management </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a asp-area="Admin" asp-controller="Products" asp-action="Index" class="nav-link text-dark">Product Management</a>
        </div>
        <div class="col">
            <a asp-area="Admin" asp-controller="ProductCategories" asp-action="Index" class="nav-link text-dark">Product Categories Management</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a asp-area="Admin" asp-controller="Content" asp-action="Index" class="nav-link text-dark">Page Content Management</a>
        </div>
        <div class="col">
            ABC
        </div>
    </div>
</div>
