/* CSS Document */

BODY {
	SCROLLBAR-FACE-COLOR: #BEC0BB; 
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; 
	SCROLLBAR-SHADOW-COLOR: #e2edc2; 
	SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
	SCROLLBAR-ARROW-COLOR: #ffffff; 
	SCROLLBAR-TRACK-COLOR: #ffffff; 
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff; 
	BACKGROUND-COLOR: #ffffff;
}

td
{
font-family:tahoma;
font-size: 11px;
color:#404040;
}
.heading
{
	font-family:tahoma;
	color:#ffffff;
	font-size: 13px;
	font-weight: bold;
	text-transform: lowercase;

}
.caption
{
	font-family:tahoma;
	color:#ffffff;
	font-size: 15px;
	font-weight: bold;

}

.caption2
{
	font-family:tahoma;
	color:#ffffff;
	font-size: 11px;
	font-weight: bold;

}
.topnav
{
	font-family:tahoma;
	color:#ffffff;
	font-size: 11px;
	font-weight: bold;
	text-decoration:none;

}
.topnav:hover
{
	font-family:tahoma;
	color:#ffffff;
	font-size: 11px;
	font-weight: bold;
	text-decoration:underline;

}
.content {
	font-family:tahoma;
	color:#ffffff;
	font-size: 11px;
	line-height: 18px;
}
.button
{
	font-family:tahoma;
	color:#000000;
	font-size: 11px;
	font-weight: bold;
	text-decoration:none;

}
.button:hover
{
	font-family:tahoma;
	color:#000000;
	font-size: 11px;
	font-weight: bold;
	text-decoration:underline;

}

.top
{
	font-family:tahoma;
	color:#7E7E7E;
	font-size: 11px;
	font-weight: bold;
	text-decoration:none;

}
.top:hover
{
	font-family:tahoma;
	color:#7E7E7E;
	font-size: 11px;
	font-weight: bold;
	text-decoration:underline;

}

.right
{
	font-family:tahoma;
	color:#000000;
	font-size: 11px;
	font-weight: bold;
	text-decoration:none;

}
.right:hover
{
	font-family:tahoma;
	color:#000000;
	font-size: 11px;
	font-weight: bold;
	text-decoration:underline;

}
