
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Product</h1>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Product 1</h5>
        <p class="card-text">Laptop Hp</p>
        <a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="1">View Detail</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Product 2</h5>
        <p class="card-text">Laptop Dell</p>
        <a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="2">View Detail</a>
    </div>
</div>