
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-3">
        <div class="alert alert-primary" role="alert">
            Product categories
        </div>
        <div class="list-group">
            @foreach (var category in ViewBag.ProductCategories)
            {
                <a href="#" class="list-group-item list-group-item-action">@category.CategoryName</a>
            }
            <!-- <a href="#" class="list-group-item list-group-item-action" aria-current="true">Laptop</a>
            <a href="#" class="list-group-item list-group-item-action active">A second link item</a>
            <a href="#" class="list-group-item list-group-item-action">A third link item</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
            <a href="#" class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a> -->
        </div>
        <div class='row mt-3'></div>
        <div class="card border-success mb-3">
            <div class="card-header">Tìm kiếm</div>
            <div class="card-body text-success">
                <form class="form-inline" asp-controller="Home" asp-action="Search">
                    <p>
                        <label for="searchString" class="sr-only">Từ khoá</label>
                        <input type="text" class="form-control" id="searchString" name="searchString" placeholder="từ khoá">
                    </p>
                    <p><button type="submit" class="btn btn-success mb-2">Tìm</button></p>
                </form>
            </div>
        </div>
        <div class="card border-success mb-3">
            <div class="card-header">Đặt hàng qua điện thoại</div>
            <div class="card-body text-success">
                <h5 class="card-title">0918 337 10</h5>
                <p class="card-text">Vui lòng gọi số phone này để đặt hàng.</p>
            </div>
        </div>
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Đặt hàng qua email</div>
            <div class="card-body">
                <h5 class="card-title">vinhxnguyen78@gmail.com</h5>
                <p class="card-text">Vui lòng gửi email này để đặt hàng.</p>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="alert alert-primary" role="alert">
            Promotion products
        </div>
        <div class="row">
        @foreach (Product product in ViewBag.promoProducts)
        {
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                        <img src="data:image/png;base64,@Convert.ToBase64String(product.SmallImage)" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.ShortDesc</p>
                        <a class="btn btn-primary" asp-controller="Product" asp-action="Details" asp-route-id="@product.ProductId">View Detail</a>
                    </div>
                </div>
            </div>
        }
            @* <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Laptop Dell</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        <a href="#" class="btn btn-primary">View Detail</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Laptop MAC</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        <a href="#" class="btn btn-primary">View Detail</a>
                    </div>
                </div>
            </div> *@
        </div>
    </div>
</div>
