@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}


@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <!--left panel (3/12 columns)----------------------------->
    <div class="col-3">
        <!--Advertising-->
        <div class="card border-success mb-3">
            <div class="card-header">Đặt hàng qua điện thoại</div>
            <div class="card-body text-success">
                <h5 class="card-title">0918 337 10</h5>
                <p class="card-text">Vui lòng gọi số phone này để đặt hàng.</p>
            </div>
        </div>
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Đặt hàng qua email</div>
            <div class="card-body">
                <h5 class="card-title">vinhxnguyen78@gmail.com</h5>
                <p class="card-text">Vui lòng gửi email này để đặt hàng.</p>
            </div>
        </div>
    </div>
    <!--end left panel------------------------------------->
    <!--right panel (9/12 columns)----------------------------->
    <div class="col-9">
        <div class="alert alert-primary" role="alert">
            <h5 class="alert-heading">Contact us</h5>
        </div>
        <div class="row">
            @Html.Raw(ViewData["Content"])
        </div>
    </div>
    <!--end right panel------------------------------------->
</div>
