
@{
    ViewData["Title"] = "View";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/Layout_442.cshtml";
}

<h1>Products</h1>

<p>Product page</p>

<p>@ViewData["products"]</p>

<div>@ViewBag.Product</div>