.text {
	font-family: Tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #535353;
	text-decoration: none;
}
.frm {
	font-family: Tahoma;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
}
.menu {
	font-family: Tahoma;
	font-size: 10px;
	color: #333333;
	font-weight: bold;
}
.text2 {
	font-family: Tahoma;
	font-size: 11px;
	color: #777777;
	text-decoration: none;
}
.c_name {
	font-family: Tahoma;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.text3 {
	font-family: Tahoma;
	font-size: 11px;
	color: #B80000;
}
